select {
  font-size: 1em;
  border: none;
  outline: var(--border-color) solid 1px;
  appearance: none;
  padding-right: 2em;
  background-color: var(--input-background-color);
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 0.5em);
  background-position-y: center;
  background-image: var(--arrow-icon);
}

select:focus {
  outline: var(--primary-color) solid 2px;
}
