html {
  --background-color: #ffffff;
  --input-background-color: #ffffff;
  --text-color: #000000;
  --transition-speed: 150ms;
  --primary-color: #00a7f3;
  --primary-color-hover: #3bbcf8;
  --primary-color-active: #5ec4f3;
  --border-color: #999999;
  --main-font: "Poppins", serif;
  --code-font: "Consolas", monospace;
  --input-radius: 1.75em;
  --input-padding: 0.5em 1em;
  --hightlight-color: #fff93e;
  --code-sample-color: #dddddd;

  --arrow-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23999999' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m7 10l5 5m0 0l5-5'/%3E%3C/svg%3E");
}
